
<%if @open_videos %>
<ul>
  <% @open_videos.each do |video| %>
  <li><%= link_to video.title, video_public_arena_path(video, video.public_arena_as_challenger)%></li>
  <%end%>
</ul>

<% elsif @battle_videos %>
<ul>
  <% @battle_videos.each do |video| %>
  <li><%= link_to video.title, video_public_arena_path(video, video.public_arena_as_challenger)%></li>
  <%end%>
</ul>

<% elsif @closed_videos %>
<ul>
  <% @closed_videos.each do |video| %>
  <li><%= link_to video.title, video_public_arena_path(video, video.public_arena_as_challenger)%></li>
  <%end%>
</ul>
<%end%>


