<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><strong>TopThat</strong></h1>

<%if @user %>
  <h1><%= link_to 'challenge the world', new_user_video_path(@user, @video) %></h1>
<%else%>
  <h1><%= link_to 'challenge the world', login_path %></h1>
<%end%>


<ul class = "carousel">
<% @challenger_videos.reverse.each do |video| %>
<li><%=video.title%><br><video width="320" height="240" controls>
      <source src= <%=video.data_content %> type="video/mp4"/>
 Your browser does not support the video tag.
</video><li>
  <%end%>
</ul>
<a href="#" class = "carousel-nav prev"><</a>
<a href="#" class = "carousel-nav next">></a>




</div>
