<%if @user %>
  <h1><%= link_to 'challenge the world', new_user_video_path(@user, @video) %></h1>
<%else%>
  <h1><%= link_to 'challenge the world', login_path %></h1>
<%end%>

<ul>
  <% @challenger_videos.each do |challenger_video| %>
  <li><%= link_to challenger_video.title, video_public_arena_path(challenger_video, challenger_video.public_arena_as_challenger)%></li>
  <%end%>
</ul>