<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'status' %>
<%if @user %>
  <button type="button" class = "btn btn-challenge"><%= link_to 'challenge the world', new_user_video_path(@user, @video) %></button>
<%else%>
  <button type="button" class = "btn btn-challenge"><%= link_to 'challenge the world', login_path %></button>
<%end%>



</div>
</div>
