<p>Your video is now in battle!</p>

<p>The person with the video with the most votes after 24 hours will win, and the person with the least votes will never be heard from again, so every second counts!</p>

<p> Promote your battle to your friends and family (because who doesn't want to be pestered to vote for something?), and maybe you'll win the TopThat battle!</p>

<p>Visit the <a href=<%= @url %>>arena</a> today!</p>