    
    <p>You LOST! Don't worry though we have some tips for you: </p>
    <p> 1. Try making a better video, better videos tend to not lose. </p>
    <p> 2. Bribery. </p>
    <p> 3. Have you thought about being a better person? </p>


    <p> Anyways there is more to life than silly phone apps. </p> 


    <p>
      Visit the <a href=<%=@url%>>arena</a>.
    </p>

