<p>You TIED! Which is worse than losing. Being in a tie is a lot like being given free keys to a ratty motel with a murdery vibe. On one hand it being free is nice but on the other hand who wants to spend anytime in a ratty motel room? </p>

<p>Visit the <a href=<%=@url%>>arena</a> today!</p>

