<p>You are the WINNER! Which makes you better than your opponents.</p>
<p> Take your seat among other winners, like Muhhamad Ali or Clay Aiken. </p>

<p>Visit the <a href=<%=@url%>>arena</a> today!</p>


