#index-video {
  border: 2px solid #333333;
}

th {
  text-align: center;
  border-bottom: 1px solid #333333;
  padding: .75em;
  font-size: 16px;
}

td {
  padding: .25em;
 
  background-color: #333333;
  color: white;
}

table {
  border: 1px solid #333333;
  margin: 1em;
}

.index-view-btn {
  text-align: center;
}

.index-open {
  background-color: #7FFF24;
  border: 1px solid #333333;
  color: #333333;

  a {
  color: #333333;
  }
}


.index-in-battle {
  background-color: #FF9900;
  border: 1px solid #333333;
  color: #333333;

  a {
  color: #333333;
  }
}

.index-close {
  background-color: #A40778;
  border: 1px solid #333333;
  color: white;

  a {
  color: #white;
  }
}

.index-winner {
  text-align: center;
  font-weight: bold;
}

.centered {
  text-align: center;
}

.centered-text {
  font-weight: bold;
  font-size: 2em;
}

.index-open-topthatlogo {
  width: 120px;
  height: 60px;
  text-align: center;
}

.versus {
  color: #7FFF24;
  background-color: #A40778;

  font-size: 1.25em;
  font-weight: bold;
  padding: .5em;
}

.round {
  border-radius: 25px;
  border: 1px solid transparent;
}

.wiw-group ul{
    position: relative;
    list-style: none;
    width: 20000em;
}

li {

  float: left;
}

.wiw-group {
    position: relative;
    
    width: 100%;
}

.window-in-window {
  border: 5px solid #333333;

  overflow: scroll;
 
}
