#welcome_login{
  display: block; 
  length: 30em;
  width: 30em;
  margin-left: auto;
  margin-right: auto;
}

#signup_button{
  display: block;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}

#login_button{
  display: block;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}

#play_button{
  display: block;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}

.alert-error{
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}


