video {
  background-color: black;
  border: 2px ridge black;
}

.wrapper {
  position: relative;
  vertical-align: middle;
  display: table-cell;
}

.show-user {

  font-size: 1.5em;
  text-align: left;

  .badge {
    text-align: right;
  }
}

.list-group-item {
  background-color: black;
}


