video {
  background-color: black;
  border: 2px ridge black;
}

.wrapper {
  position: relative;
  vertical-align: middle;
  display: table-cell;

  .glyphicon-play {
    position: absolute;
    border-radius: 26px;
    color: magenta;
    font-size: 1.25em;
    border: white;
    top: 25px;
    left: 65px;
    z-index: 100;
  }
}

.show-user {

  font-size: 1.5em;
  text-align: left;
  
  .badge {
    text-align: right;
  }
}



