<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h2>Hi <%= @user.username %>,</h2>

    <%= yield %>

    <p>Best regards,</p>
    <p>Team TopThat </p>

  </body>
</html>
